/*\ IE Search Results \*/


div.minwidth { width: 790px; height: 1px; }
.resultbox { display: block; width: 100%; }
#resultsContainer {float:left; width: 100%;}
.postdisplay div.innercontainer { width: auto;  }
div.rpage-thread a.current,div.rpage-thread a.current:link,div.rpage-thread a.current:active,div.rpage-thread a.current:visted, div.rpage a.current,div.rpage a.current:link,div.rpage a.current:active,div.rpage a.current:visted, div.lpage a.current,div.lpage a.current:link,div.lpage a.current:active,div.lpage a.current:visted { color: white; font-size: 12px; text-decoration: none;}
div.rpage-thread a:hover, div.rpage a:hover, div.lpage a:hover{ text-decoration: none;}
#main-nav { margin-top: -8px !important; 
			margin-bottom: -9px !important; }
.switcher-container { top: -65px !important; right: 60px; }
.language-switcher-container { top: -65px !important; right: 170px; }

#post { margin-top: -5px; }
.login-message { margin: 34px auto 0; }
.user-nameplate-wrapper ul li img { left: -5px; }
#error-container { white-space: auto;  }
#search { margin-top: -12px; }
#search div.forum-index { margin-top: -1px; }
.postdisplay div.secondcontainer { width: auto;  }
#character-post-info { width: 567px; }
.child {width:117px}
.message-format ul li { list-style: disc; padding: 5px; }
.message-format li { margin: 5px; }



/*\ Tooltips and PNG Handling \*/

img.png { behavior: url("pngBehavior.htc") }

#character-post-info { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/back.png'); }
#contents { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/blue-bg.png'); }
.tt-header em { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='styles/pbwow/imageset/tooltip-alert.png'); }
td.tt1 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image src='styles/pbwow/imageset/tooltip-top-left.png'); }
td.tt2 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/tooltip-top.png'); }
td.tt3 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image src='styles/pbwow/imageset/tooltip-top-right.png'); }
td.tt4 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/tooltip-left.png'); }
td.tt5 {background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/tooltip-back.png'); }
td.tt6 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/tooltip-right.png'); }
td.tt7 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image src='styles/pbwow/imageset/tooltip-bot-left.png'); }
td.tt8 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/tooltip-bot.png'); }
td.tt9 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image src='styles/pbwow/imageset/tooltip-bot-right.png'); }
.admin-box { width: 90px; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='styles/pbwow/imageset/back.png'); }
.options-container { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/post-back.png'); }
.top-shadow { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/subnav/bg-shadow-tile-top.png'); margin-bottom: 0px;  }
.drop-shadow { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/subnav/bg-shadow-tile.png'); margin-top: -21px; margin-bottom:-10px; }
.subnav-container { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/back2.png'); }
.postf1 { background: url('styles/pbwow/imageset/search-bot-tile1.gif') repeat-x bottom; }
.postf2 { background: url('styles/pbwow/imageset/search-bot-tile2.gif') repeat-x bottom; }
#errorcontainer div.messages, #searchshell div.searchbox, #character-post-info { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/back.png'); }
#searchcontainer div.searchbanner, #searchcontainer div.postpreview { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src='styles/pbwow/imageset/search-banner-bg.png'); }
td.tools11 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/post-msg-bot-left.png'); }
td.tools12 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/post-msg-bot-left.png'); }
td.tools21 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/post-msg-bot-left.png'); }
td.tools22 { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/post-msg-bot-left.png'); }
#contents { visibility: hidden; position: absolute; z-index: 999999; width: 5px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/blue-bg.png');}
.pinfobackground {background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='styles/pbwow/imageset/back.png'); }
.pifooter { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='styles/pbwow/imageset/back.png'); }
ul.listinfo, #searchshell div.searchbox *, #character-post-info * {position:relative;z-index:1}
.pinfobackground ul {zoom:1;postion:relative;z-index:9}
.chardata {position:relative;z-index:10}
.border {background:black;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}

.vote-inactive {display:inline;}
.poll-count span {display:inline !important;}
.poll-content {z-index: 99023;}
li.delete-posts input { padding:0; margin:0; }
li.delete-posts span { width: 30px; padding: 2px 0 0 0;  }
.miniadmin, #postid11, #postid21 { margin-bottom: -5px; }
.miniadmin {width:auto !important;}
.miniadmin ul{width:auto !important;}
#postid11 ul, #postid21 ul {width:auto !important;}
td.tools11, td.tools21 { height: 17px; }
#searchborder, #searchborder div  { position: relative; }

.vp-content a.link { width: 1%; display: block; cursor: pointer; }
.vp-content a.link span { width: 1%; }


.admin-viewport { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='styles/pbwow/imageset/df-bg.png'); }

/*df*/
.df td.tl 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/df-tl.png'); }
.df td.tr 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/df-tr.png'); }
.df td.t 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/df-t.png'); }
.df td.l 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/df-l.png'); }
.df td.r 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/df-r.png'); }
.df td.bg	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='styles/pbwow/imageset/df-bg.png'); }
.df td.bl 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/df-bl.png'); }
.df td.br 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='styles/pbwow/imageset/df-br.png'); }
.df td.b 	{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='styles/pbwow/imageset/df-b.png'); }

#dynamicTooltip { visibility: hidden; position: absolute; z-index: 999999; }
#tooltipText { visibility: hidden; color: #ffffff; font-family: verdana, arial, sans-serif; font-size:8pt; font-weight:normal; padding: 4px; white-space:nowrap; }
.trans_div {
/* This is an IE filter command. Other browsers will ignore it */
/* It goes into the trans_div class */
}
/* Square bracketed class styles are usable non-IE type browsers */
/* This is a seperate css entry, not part of the original trans_div class */
.trans_div[class] { background-image:url(styles/pbwow/imageset/blue-bg.png); }

#forumlistcontainerX { padding-bottom:60px; padding-top:60px; }

.index-extras1 {z-index:6000}
.index-extras2 {z-index:6000}