<!--version $Id: _block_config.html 601 2010-01-01 19:01:08Z marc1706 $ //-->
<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<div id="container" style="clear:both"><div class="border" style="margin: 0 auto;"><div class="im1"><div class="im2"><div class="im3"><div class="im4"><div class="im5"><div class="im6"><div class="im7"><div class="im8"><div style="background: none; width: 100%; display: block;"><div style="margin: 0 auto; padding: 20px 35px 45px 35px" class="index-page"><div class="indexingportal"><h3>' -->

<!-- DEFINE $LR_BLOCK_H_R = '</h3>' -->
<!-- DEFINE $LR_BLOCK_F_L = '' -->
<!-- DEFINE $LR_BLOCK_F_R = '</div></div></div></div></div></div></div></div></div></div></div></div></div>' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<div id="container" style="clear:both"><div class="border" style="margin: 0 auto;"><div class="im1"><div class="im2"><div class="im3"><div class="im4"><div class="im5"><div class="im6"><div class="im7"><div class="im8"><div style="background: none; width: 100%; display: block;"><div style="margin: 0 auto; padding: 20px 35px 45px 35px" class="index-page"><div class="indexingportal"><ul class="topiclist"><li class="header"><dl>' -->	
<!-- DEFINE $C_BLOCK_H_R = '</dl></li></ul>' -->
<!-- DEFINE $C_BLOCK_F_L = '' -->
<!-- DEFINE $C_BLOCK_F_R = '<div style="clear:both"></div></div></div></div></div></div></div></div></div></div></div></div></div></div>' -->

<!-- Images-URL //-->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->

<!-- Vertical distance between left/right and center Blocks -->
<!-- DEFINE $BLOCK_DISTANCE = '10px' -->

<!-- show Icons in left/right Blocks? 0=no 1=yes -->
<!-- DEFINE $S_BLOCK_ICON = 1 -->

<!-- postbody top (default 1 by prosilver) 0=no 1=yes -->
<!-- DEFINE $S_POSTBODY_TOP = 1 -->

<!-- override the column width settings of the ACP for this style? 0=no 1=yes -->
<!-- DEFINE $S_COLUMNS_WIDTH_OVERRIDE = 0 -->

<!-- override the column width settings of the ACP - set the width if enabled -->
<!-- DEFINE $PORTAL_LEFT_COLUMN_OVERRIDE = '200' -->
<!-- DEFINE $PORTAL_RIGHT_COLUMN_OVERRIDE = '200' -->