/* 
PBWoW.com
*/

body { background: #000000 url('{T_IMAGESET_PATH}/themes/horde/theme-bg.jpg') repeat-x 43% 26px !important; }
h1.wow-logo { background: url('{T_IMAGESET_PATH}/themes/horde/wowlogo-orange.gif') no-repeat !important; }
#postbackground { background: url('{T_IMAGESET_PATH}/forum-bg-tile-left.jpg') repeat-y 0 0 !important; }
#postbackground .right { background: url('{T_IMAGESET_PATH}/forum-bg-tile-right.jpg') repeat-y 100% 0 !important; }

.indexbg { background: #000000 url('{T_IMAGESET_PATH}/themes/horde/index-bg0.jpg') no-repeat 50% 119px !important; }
.indexbg-bg1 { background:transparent url('{T_IMAGESET_PATH}/themes/horde/index-bg1.jpg') no-repeat scroll 0 0; width:366px; height:550px; position:absolute; left:-366px; top:0px; }
.indexbg-bg2 { background:transparent url('{T_IMAGESET_PATH}/themes/horde/index-bg2.jpg') no-repeat scroll 0 0; width:365px; height:550px; position:absolute; left:775px; top:0px; }
.indexbg-extra1 { background: url('{T_IMAGESET_PATH}/themes/horde/extra1.gif') no-repeat scroll 0 0; width:320px; height:76px; position:absolute; left:-366px; top:-76px; z-index:6010; }
.indexbg-extra2 { background: url('{T_IMAGESET_PATH}/themes/horde/extra2.gif') no-repeat scroll 0 0; width:180px; height:76px; position:absolute; left:775px; top:-76px; z-index:6010; }

.adbg {background:url('{T_IMAGESET_PATH}/forum-bg-tile-top.jpg') repeat-x 0 0}