/* 
PBWoW.com
*/

body { background: #000000 url('{T_IMAGESET_PATH}/themes/sunwell/theme-bg.jpg') repeat-x 50% 119px !important; }
h1.wow-logo { background: url('{T_IMAGESET_PATH}/themes/bc/wowlogo.png') no-repeat 0 0; }
/*#postbackground { background: url('{T_IMAGESET_PATH}/themes/sunwell/forum-bc-tile-left.gif') repeat-y 0 0 !important; }
#postbackground .right { background: url('{T_IMAGESET_PATH}/themes/sunwell/forum-bc-tile-right.gif') repeat-y 100% 0 !important; }*/
#postbackground { background: url('{T_IMAGESET_PATH}/forum-bg-tile-left.jpg') repeat-y 0 0 !important; }
#postbackground .right { background: url('{T_IMAGESET_PATH}/forum-bg-tile-right.jpg') repeat-y 100% 0 !important; }
.left-gryphon { background: url('{T_IMAGESET_PATH}/themes/bc/gryphon-left.gif') no-repeat; }
.right-gryphon { background: url('{T_IMAGESET_PATH}/themes/bc/gryphon-right.gif') no-repeat; }
.logo-container { background: url('{T_IMAGESET_PATH}/themes/bc/decor-left.gif') no-repeat left top !important; }
.logo-right { background: url('{T_IMAGESET_PATH}/themes/bc/decor-right.gif') no-repeat right top !important;  }


/*.indexbg { background: #000000 url('{T_IMAGESET_PATH}/themes/sunwell/body-bg-index.jpg') no-repeat 50% 119px !important; }*/
/*.bg-theme { background: url('{T_IMAGESET_PATH}/themes/sunwell/top_tbc2_01.jpg') no-repeat 10% -100px; z-index:100 !important; }*/

.indexbg { background: #000000 url('{T_IMAGESET_PATH}/themes/sunwell/index-bg0.jpg') no-repeat 50% 119px !important; }
.indexbg-bg1 { background:transparent url('{T_IMAGESET_PATH}/themes/sunwell/index-bg1.jpg') no-repeat scroll 0 0; width:684px; height:550px; position:absolute; left:-684px; top:0px; }
.indexbg-bg2 { background:transparent url('{T_IMAGESET_PATH}/themes/sunwell/index-bg2.jpg') no-repeat scroll 0 0; width:683px; height:550px; position:absolute; left:775px; top:0px; }
.indexbg-extra1 { background: url('{T_IMAGESET_PATH}/themes/sunwell/extra1.gif') no-repeat scroll 0 0; width:478px; height:76px; position:absolute; left:-562px; top:-76px; z-index:6010; }

.adbg {background:url('{T_IMAGESET_PATH}/forum-bg-tile-top.jpg') repeat-x 0 0}


/*#topimg { position: absolute; width: 471px; height: 245px; left: -232px; top: -114px; background-color: transparent; background: url('{T_IMAGESET_PATH}/themes/sunwell/top_tbc_01.jpg') no-repeat 0% 0% scroll; }*/
#topimg-container { width:814px; margin:24px auto -28px auto; position:relative; text-align:center; }
/*#topimg-container { width:565px; margin:24px auto -28px auto; position:relative; text-align:center; }*/
/*body { background: #000000 url('{T_IMAGESET_PATH}/themes/sunwell/body-bt-tile.jpg')  no-repeat 100% 119px !important; }*/
/*topimg*/
#topimg {position:absolute; width:471px; height:245px; left:-232px; top:-114px; background: url('{T_IMAGESET_PATH}/themes/sunwell/top_tbc2_01.jpg') no-repeat;}
/*#topimg #topimg01 {width:122px; height:241px; position:absolute; background:url('{T_IMAGESET_PATH}/themes/sunwell/top_tbc_02.gif'); top:0; left:-122px;}
#topimg #topimg02 {width:200px; height:69px; position:absolute; background:url('{T_IMAGESET_PATH}/themes/sunwell/top_tbc_03.png'); top:240px; left:55px;}
*html #topimg #topimg02 {background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='{T_IMAGESET_PATH}/themes/sunwell/top_tbc_03.png');}*/
#topimg #topimg01,#topimg #topimg02 { display:none;}
