		</div>
	<div class="clear"></div>

	</div>
</div>

<!-- IF U_MCP -->
	<p class="linkmcp">
		[ <a href="{U_MCP}">{L_MCP}</a><!-- IF U_MCP_FORUM --> | <a href="{U_MCP_FORUM}">{L_MODERATE_FORUM}</a><!-- ENDIF -->
		<!-- IF U_MCP_TOPIC --> | <a href="{U_MCP_TOPIC}">{L_MODERATE_TOPIC}</a><!-- ENDIF -->
		<!-- IF U_MCP_POST --> | <a href="{U_MCP_POST}">{L_MODERATE_POST}</a><!-- ENDIF --> ]
	</p>
<!-- ENDIF -->

</div> <!-- PBWOW -->
											</div>
											<!-- end post-top -->
										</blockquote>
									</div>
									<!-- end insert -->
								</div>
								<!-- end border -->
							</div>
							<!-- end postdisplay -->
						</div>
						<!-- end resultbox -->
					</div>
					<!-- End div postshell -->
				</div>
				<!-- end post-box-top -->
			</div>
			<!-- end post-box-bottom -->
		</div>
		<!-- end post-box -->
	</div>
	<!-- end acpost -->

<div class="forum-index">
	<div class="findex"> <a href="{U_INDEX}"><img src="{T_IMAGESET_LANG_PATH}/forum-index.gif" width="104" height="41" border="0" alt="forum-index" title="Forum Index" /></a> </div>
</div>

<!-- INCLUDE overall_footer.html -->