<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_header.html -->
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" id="results" action="{S_MODE_ACTION}" onsubmit="insert_marked(this.user); return false">

<!-- ELSEIF S_SEARCH_USER -->
	<!-- INCLUDE overall_header.html -->	
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" action="{S_MODE_ACTION}">

<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
	<div class="clear" style="height:151px"></div>
	<form method="post" action="{S_MODE_ACTION}">

<!-- ENDIF -->


<div id="cover" style="position:absolute; z-index:999999; top:0px; right:10px; width:300px; height:3000px; display:none; background-color:red;"></div>
<div id="topicheader">
	<div style="float: right;"> <a href="{U_INDEX}"><img src="{T_IMAGESET_LANG_PATH}/forum-index.gif" width="104" height="41" border="0" alt="" /></a> </div>
	<div id="topicview" style="margin-top: 14px;">
		<ul>
			<li><span title="Current time"><small><font color="white"><!-- IF S_SHOW_GROUP --><span <!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{GROUP_NAME}</span><!-- IF RANK_IMG --> <img src="{RANK_IMG_SRC}" border="0" alt="" /><!-- ENDIF --> | {GROUP_TYPE}<!-- ELSE -->{PAGE_TITLE}<!-- IF SEARCH_WORDS -->: <a href="{U_SEARCH_WORDS}">{SEARCH_WORDS}</a><!-- ENDIF --> | <b>{TOTAL_USERS}</b> | {CURRENT_TIME_CLEAN}&nbsp;<!-- ENDIF --></font></small></span></li>
		</ul>
	</div>
</div>

<div class="theader">
	<div class="lpage"> <span>
		<!-- IF U_FIND_MEMBER and not S_SEARCH_USER --><a href="{U_FIND_MEMBER}">{L_FIND_USERNAME}</a> &bull; <!-- ELSEIF S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP --><a href="{U_HIDE_FIND_MEMBER}">{L_HIDE_MEMBER_SEARCH}</a> &bull; <!-- ENDIF -->
		<strong><a href="{S_MODE_ACTION}&amp;first_char=">{L_ALL}</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=a#memberlist">A</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=b#memberlist">B</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=c#memberlist">C</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=d#memberlist">D</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=e#memberlist">E</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=f#memberlist">F</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=g#memberlist">G</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=h#memberlist">H</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=i#memberlist">I</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=j#memberlist">J</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=k#memberlist">K</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=l#memberlist">L</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=m#memberlist">M</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=n#memberlist">N</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=o#memberlist">O</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=p#memberlist">P</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=q#memberlist">Q</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=r#memberlist">R</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=s#memberlist">S</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=t#memberlist">T</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=u#memberlist">U</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=v#memberlist">V</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=w#memberlist">W</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=x#memberlist">X</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=y#memberlist">Y</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=z#memberlist">Z</a>&nbsp; 
		<a href="{S_MODE_ACTION}&amp;first_char=other">#</a></strong>
		</span> </div>
	<div class="rpage-thread">
		<!-- IF PAGINATION -->
			<!-- INCLUDE pbwow_pagination.html -->
		<!-- ENDIF -->		
	</div>
</div>

<div id="postbackground">
	<div class="right">
		<table width="90%" border="0" cellpadding="0" cellspacing="0" class="tableoutline" style="margin: 0 auto;">
			<tr>
				<td class="tableheader">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td><img src="{T_IMAGESET_PATH}/pixel.gif" border="0" width="1" height="22" alt="" /></td>
							<td style="padding: 0 0 0 5px;" width="100%"><span> <a class="filter" href="{U_SORT_USERNAME}"><!-- IF S_SHOW_GROUP and .memberrow -->{L_GROUP_LEADER}<!-- ELSE -->{L_USERNAME}<!-- ENDIF --></a></span></td>
							<td style="padding: 0 5px 0 0;"><span class="rank-img"><a class="filter" href="{U_SORT_RANK}">{L_RANK}</a></span></td>
						</tr>
					</table>
				</td>
				<td align="center" class="tableheader"><span> <a class="filter" href="{U_SORT_POSTS}#memberlist">{L_POSTS}</a></span></td>
				<td class="tableheader" style="padding: 0 0 0 5px;"><span> <a class="filter" href="{U_SORT_WEBSITE}#memberlist">{L_WEBSITE}</a>{L_COMMA_SEPARATOR}<a class="filter" href="{U_SORT_LOCATION}">{L_LOCATION}</a></span></td>
				<td class="tableheader" style="padding: 0 0 0 5px;"><span> <a class="filter" href="{U_SORT_JOINED}#memberlist">{L_JOINED}</a></span></td>
				<!-- IF U_SORT_ACTIVE --><td class="tableheader" style="padding: 0 0 0 5px;"><span> <a class="filter" href="{U_SORT_ACTIVE}#memberlist">{L_LAST_ACTIVE}</a></span></td><!-- ENDIF -->
			</tr>


			<!-- BEGIN memberrow -->

				<!-- IF S_SHOW_GROUP -->
					<!-- IF not memberrow.S_GROUP_LEADER and not $S_MEMBER_HEADER -->
					<!-- IF S_LEADERS_SET and memberrow.S_FIRST_ROW -->
					<tr class="rows">
						<td class="t2" colspan="<!-- IF U_SORT_ACTIVE -->5<!-- ELSE -->4<!-- ENDIF -->">&nbsp;</td>
					</tr>
					<!-- ENDIF -->

			<tr>
				<td class="tableheader">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td><img src="{T_IMAGESET_PATH}/pixel.gif" border="0" width="1" height="22" alt="" /></td>
							<td style="padding: 0 0 0 5px; white-space:nowrap" width="100%"><span> <a class="filter" href="{U_SORT_USERNAME}">{L_GROUP_MEMBERS}</a></span></td>
							<td><img src="{T_IMAGESET_PATH}/pixel.gif" border="0" width="5" height="22" alt="" /></td>
							<td style="padding: 0 5px 0 0;"><span class="rank-img"><a class="filter" href="{U_SORT_RANK}">{L_RANK}</a></span></td>
						</tr>
					</table>
				</td>
				<td align="center" class="tableheader"><span> <a class="filter" href="{U_SORT_POSTS}#memberlist">{L_POSTS}</a></span></td>
				<td class="tableheader" style="padding: 0 0 0 5px;"><span> <a class="filter" href="{U_SORT_WEBSITE}#memberlist">{L_WEBSITE}</a>{L_COMMA_SEPARATOR}<a class="filter" href="{U_SORT_LOCATION}">{L_LOCATION}</a></span></td>
				<td class="tableheader" style="padding: 0 0 0 5px;"><span> <a class="filter" href="{U_SORT_JOINED}#memberlist">{L_JOINED}</a></span></td>
				<!-- IF U_SORT_ACTIVE --><td class="tableheader" style="padding: 0 0 0 5px;"><span> <a class="filter" href="{U_SORT_ACTIVE}#memberlist">{L_LAST_ACTIVE}</a></span></td><!-- ENDIF -->
			</tr>

						<!-- DEFINE $S_MEMBER_HEADER = 1 -->
					<!-- ENDIF -->
				<!-- ENDIF -->

			<tr class="rows">
				<!-- IF memberrow.S_ROW_COUNT is even --><td class="ta2">
				<!-- ELSE --><td class="t2"><!-- ENDIF -->
					<!-- IF memberrow.SPECIAL_RANK_IMG or memberrow.RANK_IMG or memberrow.RANK_TITLE -->
						<div style="float:right; display:inline">
							<!-- IF memberrow.SPECIAL_RANK_IMG -->{memberrow.SPECIAL_RANK_IMG}<!-- ELSE -->{memberrow.SPECIAL_RANK_TITLE}<!-- ENDIF -->
							<!-- IF memberrow.RANK_IMG -->&nbsp;&nbsp;{memberrow.RANK_IMG}<!-- ELSE -->&nbsp;&nbsp;{memberrow.RANK_TITLE}<!-- ENDIF -->
						</div>	
					<!-- ENDIF -->
					<!-- IF memberrow.S_ONLINE -->
					<img src="{T_IMAGESET_PATH}/square-update.gif" width="15" height="15" style="vertical-align:middle;" border="0" alt="" />
					<!-- ELSE -->
					<img src="{T_IMAGESET_PATH}/square-grey.gif" width="15" height="15" style="vertical-align:middle;" border="0" alt="" />
					<!-- ENDIF -->
					<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><input type="checkbox" name="user" value="{memberrow.USERNAME}" /> <!-- ENDIF -->{memberrow.USERNAME_FULL}<!-- IF S_SELECT_SINGLE --><br />[&nbsp;<a href="#" onclick="insert_single('{memberrow.A_USERNAME}'); return false;">{L_SELECT}</a>&nbsp;]<!-- ENDIF --></td>
				<!-- IF memberrow.S_ROW_COUNT is even --><td class="ta4">
				<!-- ELSE --><td class="t4"><!-- ENDIF -->
					<!-- IF memberrow.POSTS and S_DISPLAY_SEARCH --><a href="{memberrow.U_SEARCH_USER}" title="{L_SEARCH_USER_POSTS}">{memberrow.POSTS}</a><!-- ELSE -->{memberrow.POSTS}<!-- ENDIF --></td>
				<!-- IF memberrow.S_ROW_COUNT is even --><td class="ta3" style="white-space:nowrap">
				<!-- ELSE --><td class="t3" style="white-space:nowrap"><!-- ENDIF -->
					<!-- IF memberrow.U_WWW or memberrow.LOCATION --><!-- IF memberrow.U_WWW --><div><a href="{memberrow.U_WWW}" title="{L_VISIT_WEBSITE}: {memberrow.U_WWW}">{memberrow.U_SHORT_WWW}</a></div><!-- ENDIF --><!-- IF memberrow.LOCATION --><div>{memberrow.LOCATION}</div><!-- ENDIF --><!-- ELSE -->&nbsp;<!-- ENDIF -->
				</td>
				<!-- IF memberrow.S_ROW_COUNT is even --><td class="ta6">
				<!-- ELSE --><td class="t6"><!-- ENDIF -->{memberrow.JOINED}</td>
				
				<!-- IF S_VIEWONLINE --><!-- IF memberrow.S_ROW_COUNT is even --><td class="ta6" style="white-space: nowrap">
				<!-- ELSE --><td class="t6" style="white-space: nowrap" ><!-- ENDIF -->{memberrow.VISITED}&nbsp;<!-- ENDIF -->
				</td>
			</tr>

			<!-- BEGINELSE -->
			
			<tr class="rows" style="height:30px">
				<td class="ta5" colspan="<!-- IF S_VIEWONLINE -->5<!-- ELSE -->4<!-- ENDIF -->">
				<span style="color:#FFFFFF;"><strong>{L_NO_MEMBERS}</strong></span>
				</td>
			</tr>
			
			<!-- END memberrow -->

		</table>
	</div>
</div>


<div id="topicfooter" style="height:22px">
	<div class="rpage">
		<!-- IF PAGINATION or TOTAL_POSTS -->
			<!-- INCLUDE pbwow_pagination.html -->
		<!-- ENDIF -->
	</div>
</div>
<div class="forum-index">
	<div class="findex" style="margin-top:-1px"> <a href="{U_INDEX}"><img src="{T_IMAGESET_LANG_PATH}/forum-index.gif" width="104" height="41" border="0" title="" alt="" /></a> </div>
</div>
<div style="width: 100%; height: 20px;"></div>

<!-- INCLUDE pbwow_jumpbox_2.html -->










<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->
<fieldset class="display-actions">
	<input type="submit" name="submit" value="{L_SELECT_MARKED}" class="button2" />
	<div><a href="#" onclick="marklist('results', 'user', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('results', 'user', false); return false;">{L_UNMARK_ALL}</a></div>
</fieldset>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
</form>
<form method="post" id="sort-results" action="{S_MODE_ACTION}">
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP and not S_SEARCH_USER -->
<fieldset class="display-options">
	<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
	<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
	<label for="sk">{L_SELECT_SORT_METHOD}: <select name="sk" id="sk">{S_MODE_SELECT}</select></label> 
	<label for="sd">{L_ORDER} <select name="sd" id="sd">{S_ORDER_SELECT}</select> <input type="submit" name="sort" value="{L_SUBMIT}" class="button2" /></label>
</fieldset>
<!-- ENDIF -->

</form>


<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->