<!-- INCLUDE overall_header.html -->

<div class="clear"></div>	
<center>
	<div id="character-post-info" style="margin-top: 100px; margin-bottom: 100px; padding:20px 0px;"><!--<img src="{T_IMAGESET_PATH}/pixel.gif" width="567" height="1" alt="" /><br />-->
		<span><b><h2 class="bnetbold">{MESSAGE_TITLE}</h2>{MESSAGE_TEXT}</b>
		
		<!-- IF SCRIPT_NAME == "search" and not S_BOARD_DISABLED and not S_NO_SEARCH and L_RETURN_TO_SEARCH_ADV --><br/><br/><span><a href="{U_SEARCH}" class="{S_CONTENT_FLOW_BEGIN}">{L_RETURN_TO_SEARCH_ADV}</a></span><!-- ENDIF -->
	</div>
</center>

<!-- INCLUDE overall_footer.html -->