		</div>
	<div class="clear"></div>

	</div>
</div>
<!-- IF S_COMPOSE_PM -->
<div>{S_FORM_TOKEN}</div>
</form>
<!-- ENDIF -->

</div> <!-- PBWOW -->
											</div>
											<!-- end post-top -->
										</blockquote>
									</div>
									<!-- end insert -->
								</div>
								<!-- end border -->
							</div>
							<!-- end postdisplay -->
						</div>
						<!-- end resultbox -->
					</div>
					<!-- End div postshell -->
				</div>
				<!-- end post-box-top -->
			</div>
			<!-- end post-box-bottom -->
		</div>
		<!-- end post-box -->
	</div>
	<!-- end acpost -->

<div class="forum-index">
	<div class="findex"> <a href="{U_INDEX}"><img src="{T_IMAGESET_LANG_PATH}/forum-index.gif" width="104" height="41" border="0" alt="forum-index" title="Forum Index" /></a> </div>
</div>

<!-- INCLUDE overall_footer.html -->