<div class="index-header"> <img src="{T_IMAGESET_LANG_PATH}/header-forums.gif" alt="Forum Community" /><br/>
	<b>Welcome to {SITENAME}!</b>
	<p class="index-intro"><img src="{T_IMAGESET_PATH}/B.gif" width="43" height="44" align="left" class="cap" alt="b" />{SITE_DESCRIPTION}
		<div>
			<ul>
				<li><span><small><b>Notice:</b><br />
					This is <u>not</u> the official World of Warcraft forum website! This website is using the <a href="http://pbwow.com">PBWoW</a> skin for <a href="http://www.phpbb.com">phpBB</a> to create an environment resembling the official website. 
					</small></span></li>
			</ul>
			<ul>
				<li><span><small><b>Found a bad post?</b><br />
					<img src = "{T_IMAGESET_PATH}/biohazard-button.gif" width = "23" height = "21" align="left" border="0">If you find a bad forum post, you can report it by clicking on this red button.</small></span></li>
			</ul>
		</div>
	</p>
</div>

<!-- IF S_PBWOW_ADS_INDEX -->
<div id="ad_300x250" style="width:300px; height:250px; float:right; margin-top:75px; padding:2px; background:#1E1E1E none repeat scroll center bottom;">
	{PBWOW_ADS_INDEX_CODE}
</div>
<!-- ENDIF -->

<!-- IF S_PBWOW_IE6MESSAGE -->{PBWOW_IE6MESSAGE_CODE}<!-- ENDIF -->