<div class="smallbox">
	<div class="border" style="width: 270px; margin: 0 auto;">
		<div class="im1">
			<div class="im2">
				<div class="im3">
					<div class="im4">
						<div class="im5">
							<div class="im6">
								<div class="im7">
									<div class="im8">

										<div class="small-content">
											<ul>
												<li><span><small><b>Notice:</b><br />
													This is <u>not</u> the official World of Warcraft forum website! This website is using the <a href="http://pbwow.com">PBWoW</a> skin for <a href="http://www.phpbb.com">phpBB</a> to create an environment resembling the official website. 
													</small></span></li>
											</ul>
											<ul>
												<li><span><small><b>Found a bad post?</b><br />
													<img src = "{T_IMAGESET_PATH}/biohazard-button.gif" width = "23" height = "21" align="left" border="0">If you find a bad forum post, you can report it by clicking on this red button.</small></span></li>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="index-header" style="width:410px"> <img src="{T_IMAGESET_LANG_PATH}/header-forums.gif" alt="Forum Community" /><br/>
	<b>Welcome to {SITENAME}!</b>
	<p class="index-intro"><span> <img src="{T_IMAGESET_PATH}/B.gif" width="43" height="44" align="left" class="cap" alt="b" />{SITE_DESCRIPTION}</span></p>
</div>

<!-- IF S_PBWOW_IE6MESSAGE -->{PBWOW_IE6MESSAGE_CODE}<!-- ENDIF -->